


.home-header{
    position: relative;
    top:0;
}

.home-carousel{
    position: absolute;
    top:5%;
    width: 100%;
   
}

.home-card{
    position: absolute;
}


.home-footer{
    position: relative;
    bottom: 0;   
}

